//
// Icon Font: mysalon
//

@font-face {
  font-family: "mysalon";
  src: url("mysalon.eot");
  src: url("mysalon.eot?#iefix") format("embedded-opentype"),
       url("mysalon.woff2") format("woff2"),
       url("mysalon.woff") format("woff"),
       url("mysalon.ttf") format("truetype"),
       url("mysalon.svg#mysalon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "mysalon";
    src: url("mysalon.svg#mysalon") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.mysalon-depilation-wax:before,
.mysalon-hair-dye-kit:before,
.mysalon-man-long-hair:before,
.mysalon-man-medium-hair:before,
.mysalon-man-short-hair:before,
.mysalon-manicure-nail-style:before,
.mysalon-no-image:before,
.mysalon-woman-blush:before,
.mysalon-woman-hair:before,
.mysalon-woman-long-hair:before,
.mysalon-woman-medium-hair:before,
.mysalon-woman-short-hair:before {
  display: inline-block;
  font-family: "mysalon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.mysalon-depilation-wax:before { content: "\f22c"; }
.mysalon-hair-dye-kit:before { content: "\f236"; }
.mysalon-man-long-hair:before { content: "\f22d"; }
.mysalon-man-medium-hair:before { content: "\f22e"; }
.mysalon-man-short-hair:before { content: "\f22f"; }
.mysalon-manicure-nail-style:before { content: "\f230"; }
.mysalon-no-image:before { content: "\f231"; }
.mysalon-woman-blush:before { content: "\f232"; }
.mysalon-woman-hair:before { content: "\f21c"; }
.mysalon-woman-long-hair:before { content: "\f233"; }
.mysalon-woman-medium-hair:before { content: "\f234"; }
.mysalon-woman-short-hair:before { content: "\f235"; }

$font-mysalon-depilation-wax: "\f22c";
$font-mysalon-hair-dye-kit: "\f236";
$font-mysalon-man-long-hair: "\f22d";
$font-mysalon-man-medium-hair: "\f22e";
$font-mysalon-man-short-hair: "\f22f";
$font-mysalon-manicure-nail-style: "\f230";
$font-mysalon-no-image: "\f231";
$font-mysalon-woman-blush: "\f232";
$font-mysalon-woman-hair: "\f21c";
$font-mysalon-woman-long-hair: "\f233";
$font-mysalon-woman-medium-hair: "\f234";
$font-mysalon-woman-short-hair: "\f235";
